<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">The Beer Network!</li>
      <li><%= link_to "Home", root_path %></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <% if signed_in? %>
        <li class="username"><%= current_user.first_name %> is currently signed in!</li>
        <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to "Join", new_user_registration_path %></li>
        <li><%= link_to "Sign In", new_user_session_path %></li>
      <% end %>
    </div>
  </div>
</div>

  <div class="large-3 columns large-offset-1 columns">
    <div class="card meetups-form">
      <h3 class= "text-center"> Create An Event of Your Own! </h3>
        <%= form_for(@meetup) do |f| %>
          <div class="field">
            <%= f.label :title, class: "small_forms" %><br />
            <%= f.text_field :title %>
          </div>

          <div class="field">
            <%= f.label :description, class: "small_forms" %><br />
            <%= f.text_area :description%>
          </div>

          <div class="field">
            <%= f.label :date, class: "small_forms" %><br />
            <%= f.date_field :date%>
          </div>

          <div class="field">
            <%= f.label :street, class: "small_forms"%><br />
            <%= f.text_area :street%>
          </div>

          <div class="field">
            <%= f.label :city, class: "small_forms"%><br />
            <%= f.text_area :city%>
          </div>

          <div class="field">
            <%= f.label :state, class: "small_forms"%><br />
            <%= f.text_area :state%>
          </div>

          <div class="actions text-center">
            <%= f.submit "Create!", class: 'button' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<div class="large-6 columns large-offset-1 text-center">
  <h3 class="card">Checkout the Available Meetups!</h3>
</div>
<div class="large-6 columns large-offset-1 text-center">
  <% @meetups.each do |meetup| %>
    <div class="card eventTitle-card">
      <h4 class="text-center"><%= link_to meetup.title, meetup_path(meetup) %></h4>
    </div>
  <% end %>
</div>
